extends ./layout.pug

block body
  h1 Prismic.io
  h2 Integration Fields Validator
  form(action="validate" method="post")
    input(type="text" name="endpoint" placeholder="type your integration fields endpoint here")
    button(type="submit") Scan my api
